* {margin:0; padding:0; }
body {
    width:100%;
    height:100%;
    background-color:#1E1E1E;
    /* font-family:"";
     * color:#FFF;
     * 
     */
}
html {
    width:100%;
    height:100%;
}
/*
p {
	margin:0 0 25px;
	font-size:18px;
	line-height:1.5;
}
@media(min-width:768px) {
	p {
		margin:0 0 35px;
		font-size:20px;
		line-height:1.6;
	}
}
*/
.intro {
    display:table;
    width:100%;
    height:auto;
    display:relative;
    padding:100px 0 100px 0;
    color:#FFF;
    text-align:left;
    text-transform: uppercase;
    background-size:cover;
    /* Navegadores */
    -webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
}
.intro .intro-body{
    display:table-cell;
	vertical-align:middle;
    font-family:'League Gothic';
    letter-spacing:15px;
}
/*
@media(min-width:768px) {
	.intro {
		height:100%;
		padding:0;
	}
	.intro .intro-body {
		font-size:60px;
		margin-top:90px;
		margin-bottom:20px;
		display:inline-block;
		padding:10px 0;
	}
	.intro .intro-body .intro-text {
		font-size:20px;
			letter-spacing:3px;
	}
}